<style>
  footer.blue a {
    color: white;
  }
</style>
<br />
<!-- Footer -->
<footer class="page-footer footer-classic context-dark blue font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase center">Koopa Bot</h5>
          <p>A Mario-themed bot originally made for Mario Modding exclusive use, but now open to use.</p>

        </div>
        <!-- Grid column -->
        
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Links (Samplasion)</h5>

            <ul class="list-unstyled">
              <li>
                <a href="https://samplasion.github.io/">Website</a>
              </li>
              <li>
                <a href="https://github.com/Samplasion">GitHub</a>
              </li>
              <li>
                <a href="https://gitlab.com/Samplasion">GitLab</a>
              </li>
              <li>
                <a href="#!">Link 4</a>
              </li>
            </ul>

          </div>
        
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Links (NightYoshi)</h5>

            <ul class="list-unstyled">
              <li>
                <a href="https://gitlab.com/NightYoshi370">GitLab</a>
              </li>
              <li>
                <a href="https://gitlab.com/MaorNinja322">Other GitLab</a>
              </li>
              <li>
                <a href="#!">Link 3</a>
              </li>
              <li>
                <a href="#!">Link 4</a>
              </li>
            </ul>

          </div>

        <hr class="clearfix w-100 d-md-none pb-3">

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">Koopa Bot – © 2018-<%= new Date().getFullYear() %> <a href="http://samplasion.github.io">Samplasion#7901</a> and NightYoshi370#5597</div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->  <!-- Footer -->