<!DOCTYPE html>
<html lang="en">
  
    <% var subtitle = "" %>
    <% include ../partials/head %>

    <body>

        <% include ../partials/nav %>

        <section name="jumbotron">
            <div class="jumbotron text-center">
                <h1>Koopa Bot</h1>
                <p>A Mario-themed bot originally made for Mario Modding exclusive use, but now open to use.</p>
            </div>
        </section>
      
      <div class=container>
        
        <h2 class="text-center">Features</h2>
        <br />

        <div class="row">
          
          <div class="col-4 text-center">
            <h2>
              <i class="fas fa-level-up-alt"></i>
            </h2>
            <p>Leveling system with configurable point multipliers</p>
          </div>
          <div class="col-4 text-center">
            <h2>
              <i class="fas fa-cogs"></i>
            </h2>
            <p>Per-Guild settings</p>
          </div>
          <div class="col-4 text-center">
            <h2>
              <i class="fas fa-stroopwafel"></i>
            </h2>
            <p>another blah</p>
          </div>
          <div class="col-4 text-center">
            <h2>
              <i class="fas fa-stroopwafel"></i>
            </h2>
            <p>yet another blah</p>
          </div>
        </div>
        
        <br><br>
        
        <h1>
          Support Server
        </h1>
        <iframe src="https://titanembeds.com/embed/490254267610038279?fixedsidenav=true&lang=en_US&scrollbartheme=light-3&theme=DiscordDark&username=Koopa%20Fan" height="600" width="100%" frameborder="0"></iframe>

      </div>
      
        <% include ../partials/footer %>
        <% include ../partials/scripts %>
    </body>

</html>